@using System.ServiceModel.Channels
@using _WebApp.Infrastructure
@model _WebApp.Models.ViewModels.MemberDiscussion

@{
    ViewBag.Title = "DetailsEmployee";
}

<h2>DetailsEmployee</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Tel)
        </dd>

    </dl>
</div>

<div>
    <table class="table">
        @{int? dern = null;}
        @{int? emp = Model.employee.Id;}


        @foreach (var item in Model.ListeMessageEmployees)
        {

            <tr>
                <td class="clearboth">
                    
                    <div class="floatdepanL">
                        @if (item.Id_Destinataire == emp)
                        {
                            <div class="rowlongueur1 floatdepanL">
                               @Html.DisplayFor(modelItem => item.Contenu)
                            </div>
                       

                        }
                        else
                        {
                            <div class="rowlongueur2 floatdepanR">
                                @Html.DisplayFor(modelItem => item.Contenu)
                            </div>
                      

                        }
                    </div>
                    <div class="rowdate floatdepanR" >
                        @Html.DisplayFor(modelItem => item.Date)
                    </div>


                </td>
            </tr>


            dern = item.Id;
        }

    </table>
</div>
<br class="clearboth" />
<div>
    <form action="~/Member/RepondreEmployee" method="post">
        <input type="hidden" name="idDest" id="idDest" value='@emp' />
        <input type="hidden" name="idMsg" id="idMsg" value='@dern' />
        <input class="btnEnvoyez" type="text" size="4000" name="msg" id="msg" />
        <input class="btnEnvoyez" type="submit" name="Envoyer" value="Envoyez" />
    </form>
</div>