@model _WebApp.Models.ViewModels.MemberDiscussion

@{
    ViewBag.Title = "DetailsEmployee";
}

<h2>DetailsEmployee</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Tel)
        </dd>

    </dl>
</div>

<div>
    <table class="table">
        @{int? dern = 0;}
        @{int? emp = Model.employee.Id;}

        @foreach (var item in Model.ListeMessageEmployees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contenu)
                </td>
            </tr>
                dern = item.Id;
        }

    </table>
    <div>

        <input class="btnEnvoyez" type="text" size="1500" name="Message" id="1"/>


        @Html.ActionLink("Envoyez", "RepondreEmployee", new {idDest = emp, idMsg = dern })

    </div>
    
      
   
    
</div>