@using Client.Models
@model _WebApp.Models.ViewModels.MemberEquipe

@{
    ViewBag.Title = "Equipe";
}

<h2>DétailsEquipe</h2>

@if (Model.eq != null) {
<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eq.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eq.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eq.Creee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eq.Creee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp.Prenom)
        </dd>
    </dl>
</div>

<div class="list-group">
    <h4>Employee</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.emp.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp.Tel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ListE) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel)
                </td>

                <td>
                    @Html.ActionLink("Détails", "Employee", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<div class="list_message">
    <h4>Messages d'équipe</h4>
    <table class="table">
        @{int? dern = null;}
        @{int? eq = Model.eq.Id;}

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.msgeq.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.msgeq.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.msgeq.Contenu)
            </th>
            <th>
                Auteur
            </th>
        </tr>

        @foreach (var item in Model.ListMEq) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Contenu)
                </td>
                <td>
                    <span>@item.Value.Fullname()</span>
                </td>
            </tr>
            dern = item.Key.Id;
        }

    </table>
    </div>
    <br class="clearboth" />
    <div>
        <form action="~/Member/RepondreEquipe" method="post">
            <input type="hidden" name="idEq" id="idEq" value='@eq' />
            <input type="hidden" name="idMsg" id="idMsg" value='@dern' />
            <textarea name="msg" id="msg" class="champtext" maxlength="4000" placeholder="Entrez votre messages ici !"></textarea>
            @*<input class="champtext" type="text" size="4000" name="msg" id="msg" />*@
            <input class="btnEnvoyez" type="submit" name="Envoyer" value="Envoyez" />
        </form>
    </div>

<div class="list-group">
    <h4 class="menumilieu">Documents</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.d.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.d.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.d.Lien)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ListD) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lien)
                </td>
            </tr>
        }

    </table>
</div>
}
else {
    <p>Vous n'êtes actuellement dans aucune équipe</p>
}

<p>
    @Html.ActionLink("Retour", "Index")
</p>
