@using Client.Models
@using _WebApp.Infrastructure
@model _WebApp.Models.ViewModels.MemberIndex

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="list-group">
    <table class="table">

        <tr class="menumilieu">
            <th>
                @Html.DisplayNameFor(model => model.p.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.p.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.p.Debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.p.Fin)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.ListP) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Debut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fin)
                </td>

                <td>
                    @Html.ActionLink("Détails", "Projet", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<div class="list-group">
    <h2>Membre d'équipes</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.e.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.e.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.e.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.e.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.e.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.e.Tel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ListE) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel)
                </td>
                <td>
                    @Html.ActionLink("Détails", "Employee", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<div class="list-group">
    <h2>Discussions</h2>
    <table class="table">

        @foreach (var item in Model.ListEWDiscussion) {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.Prenom).ToString() + " " + Html.DisplayFor(modelItem => item.Nom).ToString(), "Employee", new {id = item.Id})
                </td>
                <td>
                    @{
                        MessageEmployee message = Model.ListME
                            .Where(r => (r.Id_Destinataire == item.Id && r.Id_Employee == EmployeeSession.CurrentEmployee.Id)||(r.Id_Employee == item.Id && EmployeeSession.CurrentEmployee.Id == r.Id_Destinataire))
                            .OrderBy(r => r.Date)
                            .LastOrDefault();
                    }
                    
                    @if (message != null)
                    {
                        @message.Contenu;
                    }
                    else
                    {
                        <span> il y a rien pour vous ici dégage !!!</span>
                    }
                </td>
            </tr>
         }

    </table>
</div>

@*<div class="list-group"> //TODO Supprimer2 ??
    <h2>Messages</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.me.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.me.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.me.Contenu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ListME) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contenu)
                </td>
            </tr>
        }

    </table>
</div>*@
