@model _WebApp.Models.ViewModels.MemberTacheEmployee

@{
    ViewBag.Title = "TacheEmployee";
}

<h2>TacheEmployee</h2>

<div>
    <h4>Tache - Equipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.te.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.te.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.te.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.te.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.te.Debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.te.Debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.te.Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.te.Fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.te.Final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.te.Final)
        </dd>
    </dl>
</div>
<div class="list-group">
    <h4>Messages de la tâche</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mt.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mt.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mt.Contenu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ListM)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contenu)
                </td>
            </tr>
        }

    </table>
</div>

<div class="list-group">
    <h4 class="menumilieu">Documents</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.doc.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.doc.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.doc.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doc.Lien)
            </th>
         
            <th></th>
        </tr>

        @foreach (var item in Model.ListD)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lien)
                </td>
            </tr>
        }

    </table>
</div>

<p>
    @Html.ActionLink("Retour", "Index")
</p>


