@model IEnumerable<Client.Models.Departement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer départements", "CreateDep")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin)
        </td>
        <td>
            @Html.ActionLink("Details", "DetailsDep", new { id = item.Id }) | 
            @Html.ActionLink("Modifier", "EditDep", new { id = item.Id }) | 
            @Html.ActionLink("Delete", "DeleteDep", new { id = item.Id })
        </td>
    </tr>
}

</table>
