@model IEnumerable<Client.Models.MessageEquipe>

@{
    ViewBag.Title = "MessageEquipe";
}

<h2>MessageEquipe</h2>

<table class="table">
    @{int? eq = null;}
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auteur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auteur)
        </td>
        @{
            eq = item.Id_Equipe;
        }
    </tr>
}

</table>
<br class="clearboth" />
<div>
    <form action="~/Member/RepondreEquipe" method="post">
        <input type="hidden" name="idEq" id="idEq" value='@eq' />
        <input type="hidden" name="idMsg" id="idMsg" value='@Model.First().Id;' />
        <textarea name="msg" id="msg" class="champtext" maxlength="4000" placeholder="Entrez votre messages ici !"></textarea>
        @*<input class="champtext" type="text" size="4000" name="msg" id="msg" />*@
        <input class="btnEnvoyez" type="submit" name="Envoyer" value="Envoyez" />
    </form>
</div>
